.menu {
  background-color: #333;
  color: white;
  height: 55px;
  margin: auto; }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline; }
    .menu ul a:link {
      text-decoration: none;
      color: white; }
    .menu ul a:visited {
      text-decoration: none;
      color: white; }
    .menu ul li {
      float: left; }
      .menu ul li a {
        padding: 17px; }
        .menu ul li a:hover {
          background: black; }

.activeMenu {
  background: #007bff; }

.wrapper {
  margin: auto;
  background: #f2f3f4;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 80px;
  padding-right: 80px; }

.postPreview {
  margin: auto;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px; }

.postDate {
  margin-left: 30px;
  font-size: 13px; }

.postTitle {
  font-size: 18px; }
  .postTitle:link {
    text-decoration: none; }
  .postTitle:hover {
    text-decoration: none; }
  .postTitle:visited {
    text-decoration: none; }
  .postTitle:active {
    text-decoration: none; }

.addLabel {
  display: inline-block;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  width: 100%;
  padding-left: 0px; }
  .addLabel textarea {
    min-width: 100%; }
  .addLabel div {
    width: 100px;
    height: 35px;
    background-color: #007bff;
    color: white;
    font-size: .875rem;
    text-align: center;
    display: table;
    float: left;
    margin-left: 2px;
    margin-bottom: 20px; }
    .addLabel div p {
      display: table-cell;
      vertical-align: middle; }

.margin-auto-pd30 {
  margin: auto;
  padding-left: 30px;
  padding-right: 30px; }
  .margin-auto-pd30 button {
    margin-top: 20px; }

.aboutPage {
  text-align: center; }

/*# sourceMappingURL=Styles.css.map */
